<div>


<h2>Lista de mis Heroes</h2>
<p>click para seleccionarlo</p>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div class="contenedor2" *ngIf="selectedHero">

  <h2 class="selected">{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
<br>
</div>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<hr style="width: 100%;">
<hr>
<hr>

</div>